$menu-mobile-breakpoint: 1024px;

/* Fonts */
$base-font-size:        16px;
$base-line-height:      22px;
$letter-spacing:        0.5px;

/* Other */

$base-radius:       2px;

/* Transitions */

$transition-time:   0.3s;
